<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="" layout:decorate="layout" lang="">
<head>
    <title>Водяные знаки</title>
</head>
<body>

<div layout:fragment="content-header">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1 class="m-0">Водяные знаки</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="content">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header" style="border-bottom: solid 0px;">
                <div class="d-flex flex-row-reverse">
                    <div class="row">
                        <button type="button" class="btn btn-primary">Добавить</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="box-body no-padding">
                    <!-- --------------------------------------------------------------------------------------- -->
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 100px"></th>
                                    <th>Идентификатор</th>
                                    <th>Наимеенование</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="row : ${list}">
                                    <td style="text-align:center;">
                                        <a th:href="${'/watermark/edit/' + row.id}" title="Редактировать">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        |
                                        <a th:href="${'/watermark/delete/' + row.id}" title="Удалить">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                    <td th:text="${row.id}"></td>
                                    <td th:text="${row.name}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- --------------------------------------------------------------------------------------- -->
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>