<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Watermark</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/dist/css/adminlte.css">
    <script src="/plugins/jquery/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/bootstrap/js/bootstrap-treeview.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
</head>
<body class="hold-transition sidebar-mini sidebar-collapse layout-fixed">
    <div class="wrapper">
        <div th:insert="fragments/header :: header"></div>
        <div th:insert="fragments/mainsidebar :: mainsidebar"></div>
        <div class="content-wrapper">
            <div layout:fragment="content-header"></div>

            <section class="content">
                <div layout:fragment="content"></div>
            </section>
        </div>
        <div th:insert="fragments/footer :: footer"></div>
    </div>
</body>
</html>
