<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="" layout:decorate="layout" lang="">
<head>
    <title>Шаблоны</title>
</head>
<body>

<div layout:fragment="content-header">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1 class="m-0">Шаблоны</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="content">
    <div class="col-lg-12">
        <div class="alert alert-danger" role="alert">
            Введите наименование.
        </div>
        <div class="card">
            <div class="card-body">
                <div class="box-body no-padding">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Наименование</span>
                                </div>
                                <input type="text" id="name" class="form-control" placeholder="Наименование" aria-label="name"  th:value="${name}">
                                <input type="hidden" id="id" class="form-control" th:value="${id}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <img id="img" style="width: 800px; height: 533px;border: solid 3px;" th:src="'data:image/png;base64,' + ${image}" alt="">
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <b>Задний фон</b>
                                    <tr th:each="watermark: ${watermarks_bottom}">
                                        <div class="form-check">
                                            <input class="form-check-input bottom" style="margin-left: -15px;" type="checkbox" value="" th:id="${watermark.uuid}" th:checked="${watermark.checked}">
                                            <label class="form-check-label" th:for="${watermark.uuid}" th:text="${watermark.name}"></label>
                                        </div>
                                    </tr>
                                </div>
                                <div class="col-6">
                                    <b>Передний фон</b>
                                    <tr th:each="watermark: ${watermarks_top}">
                                        <div class="form-check">
                                            <input class="form-check-input top" style="margin-left: -15px;" type="checkbox" value="" th:id="${watermark.uuid}" th:checked="${watermark.checked}">
                                            <label class="form-check-label" th:for="${watermark.uuid}" th:text="${watermark.name}"></label>
                                        </div>
                                    </tr>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr/>

                    <div class="row">
                        <div class="col-6">
                            <div class="row" id="bottom_panel">
                                <b>Задний фон</b>
                                <div class="col-12">
                                    <label for="height_back">Высота</label>
                                    <input type="range" min="1" th:max=${settings.height} id="height_back" th:value=${settings.bottom.height}>
                                    <label for="width_back">Ширина</label>
                                    <input type="range" min="1" th:max=${settings.width} id="width_back" th:value=${settings.bottom.width}>
                                    <label for="alpha_back">Прозрачность</label>
                                    <input type="range" min="0" max="1" id="alpha_back" step="0.1" th:value=${settings.bottom.alpha}>
                                    <label for="scale_back">Размер</label>
                                    <input type="range" min="0" max="1000" id="scale_back" step="1" th:value=${settings.bottom.scale}>
                                    <input type="hidden" id="uuid_back" th:value="${settings.bottom.uuid}">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row" id="top_panel">
                                <b>Передний фон</b>
                                <div class="col-12">
                                    <label for="height_top">Высота</label>
                                    <input type="range" min="1" th:max=${settings.height} id="height_top" th:value=${settings.top.height}>
                                    <label for="width_top">Ширина</label>
                                    <input type="range" min="1" th:max=${settings.width} id="width_top" th:value=${settings.top.height}>
                                    <label for="alpha_top">Прозрачность</label>
                                    <input type="range" min="0" max="1" id="alpha_top" step="0.1" th:value=${settings.top.alpha}>
                                    <label for="scale_top">Размер</label>
                                    <input type="range" min="0" max="1000" id="scale_top" step="1" th:value=${settings.top.scale}>
                                    <input type="hidden" id="uuid_top" th:value="${settings.top.uuid}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr/>

                    <th:block layout:fragment="script">
                        <script>
                            /*<![CDATA[*/
                            $(document).ready(function(){
                                /** ************************************************************************************/
                                $('.alert').hide();
                                /** ************************************************************************************/
                                function getID(className) {
                                    let objects = $("." + className);
                                    for (let i = 0; i < objects.length; i++) {
                                        if (objects[i].checked) {
                                            return objects[i].id;
                                        }
                                    }
                                    return "";
                                }
                                /** ***********************************************************************************/
                                function getValues(uuid, name) {
                                    return {
                                        uuid: uuid,
                                        scale: parseInt($('#scale_' + name).val()),
                                        alpha: parseFloat($('#alpha_' + name).val()),
                                        width: parseInt($('#width_' + name).val()),
                                        height: parseInt($('#height_' + name).val())
                                    }
                                }
                                /** ***********************************************************************************/
                                function update() {
                                    $.ajax({
                                        url: "/api/template/create/" + $('#name').val() + "/" +  $('#id').val(),
                                        method: "POST",
                                        data: JSON.stringify({
                                            uuid:"",
                                            width: 800,
                                            height: 533,
                                            bottom: getValues(getID("bottom"), "back"),
                                            top: getValues(getID("top"), "top")
                                        }),
                                        contentType: "application/json; charset=utf-8"
                                    })
                                        .done(function (data) {
                                            $('#img').attr('src', "data:image/png;base64," + data);
                                        });
                                }
                                /** ***********************************************************************************/
                                $("input[type='checkbox']").on("click", function() {
                                    if ($('#name').val() === "") {
                                        $('.alert').show();
                                        this.checked = false;
                                        return;
                                    }

                                    let id = this.id;
                                    let checked = this.checked;
                                    let className = this.className.replace("form-check-input", "").trim();

                                    let objects = $("." + className);

                                    for (let i = 0; i < objects.length; i++) {
                                        if (objects[i].checked && (objects[i].id !== id)) {
                                            objects[i].checked = !checked;
                                        }
                                    }

                                    update();
                                });
                                /** ***********************************************************************************/
                                $("#name").on("input", function() {
                                    if (this.value !== "") {
                                        $('.alert').hide();
                                    }
                                });
                                /** ***********************************************************************************/
                                $("input[type='range']").on("input", function() {
                                        if ($('#name').val() === "") {
                                        $('.alert').show();
                                        return;
                                    }

                                    update();
                                });
                                /** ***********************************************************************************/
                            });
                            /*]]>*/
                        </script>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>